@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
      padding: 0;
      margin: 0;
      background: url(./images/bg-intro-desktop.png);
      background-color: var(--red);
      font-family: 'Poppins', sans-serif!important;
}
.main{
      min-height: 100vh;
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
}
.l-side{
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      padding: 0 60px;
      max-width: 530px;
}
.text-container{
      max-width: 580px;
}
.text-container h1{
      font-size: 30px;
      text-align: center;
      font-weight: 900;
      line-height: 50px;
}
.signup-form{
      display: flex;
      flex-direction: column;
      background: var(--white);
      padding: 30px 40px;
      border-radius: 10px;
      box-shadow: 0px 10px 0px var(--blue-shadow);
}
.signup-form :is(input, button[type="submit"]){
      margin: 10px 0;
      padding: 15px 25px;
      border-radius: 5px;
      border: 1px solid lightgray;
      font-weight: 700;
      font-family: 'Poppins';
      font-weight: 800;
}
.signup-form input:focus{
      border: 1px solid var(--blue);
      outline: none;
}
.pruple-bg{
      background-color: var(--blue);
      color: var(--white);
      padding: 20px 20px;
      margin: 25px 0;
      border-radius: 10px;
      font-weight: 100;
      font-size: 16px;
      text-align: center;
      box-shadow: 0px 10px 0px var(--blue-shadow);
}
.blod{
      font-weight: 800;
}
.success-btn{
      background: var(--green);
      color: var(--white);
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
}
.r-side{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      margin: 30px;
}
.terms{
      font-size: 10px;
      margin: 0 auto;
      font-weight: 900;
      color: var(--grayish-blue);
}
.orange-color{
      color: var(--red);
      text-decoration: none;
}
@media (width<=768px){
      .main{
            display: block;
            padding: 30px;
      }
      .describe{
            text-align: center;
      }
      .l-side{
            padding: 0;
      }
      .r-side{
            margin: 0;
      }
}
:root{
/* ### Primary */

--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);

/* ### Accent */

--blue: hsl(248, 32%, 49%);

/* ### Neutral */

--blue-shadow: hsl(249deg 10% 26% / 25%);--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
--white: hsl(0,0%,100%);}