*.sketch
*.fig
*.xd
.DS_Store
.prettierignore
design/active-states.jpg
design/desktop-design.jpg
design/desktop-preview.jpg
design/mobile-design.jpg
design/mobile-menu.jpg
design/active-states-bookmarked.jpg
design/active-states-default.jpg
design/active-states-modal-completed.jpg
design/active-states-modal-default.jpg
design/active-states-modal-selected.jpg
design/desktop-design-modal-completed.jpg
design/desktop-design-modal-default.jpg
design/desktop-design-modal-selected.jpg
design/mobile-design-modal-completed.jpg
design/mobile-design-modal-default.jpg
design/mobile-design-modal-selected.jpg