:root{
      --purple: #6448fe ;
      --dark-purple: #600594;
      --red: #ff5252;
      --white: #ffffff;
      --light-grayish-violet: #dedddf;
      --dark-grayish-violet: #8e8593;
      --very-dark-violet: #21092f;
}